<!DOCTYPE html>
{% load static%}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Dorivan Kadatz Borba">
    <meta name="description" content="Cine Play Aripuanã">
    <link rel="stylesheet" href="{% static 'polls/estilo.css' %}">
    <link rel="icon" href="{% static 'polls/icone.jpg' %}">
    <title> Cine Play </title>
</head>
<body>

    <div class="principal">
        <header>
        </header>
        <nav>

        </nav>
        <aside>
            <img class="slide" src="{% static 'polls/04.jpg' %}" width="1100px" height="500px">
            <img class="slide" src="{% static 'polls/05.jpg' %}" width="1100px" height="500px">
        </aside>
        <section> CONTEUDO PRINCIPAL, sessoes de filmes de acordo com os dias, novidades, lançamentos, em cartaz </section>
        <footer> RODA PÉ desenvolvedor, redes sociais</footer>
    </div>

</body>
</html>